.text-header {
    font-size: 1.25rem;
    text-align: center;
    color: gray;
}

.row-areas {
    // min-height: 80vh;
    // justify-content: center;
    align-items: center;
}

.contenedor-areas {
    width: 100%;
    background-color: rgb(236, 236, 236);
    margin-bottom: 1.5rem;
    min-height: 11rem;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: linear;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.d-contents {
    display: contents;
}

.contenedor-areas:hover {
    background-color: rgb(218, 218, 218);
    transform: scale(1.025);
}

.nombreArea {
    font-size: 0.85rem;
    color: gray;
    font-weight: 600;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 0 !important;
}

.cols-areas {
    padding-right: 2rem;
    padding-left: 2rem;
}


/* ////////////////////////////////////////////////////BREAKPOINTS//////////////////////////////////////////////////// */


/* VISTA MOVIL VERTICAL*/

@media screen and (min-width: 0px) and (max-width: 599px) {
    .contenedor-areas {
        min-height: 9.5rem;
    }
    .nombreArea {
        font-size: 0.7rem;
        font-weight: 550;
        padding-bottom: 0 !important;
        padding-top: 0.65rem !important;
    }
    .cols-areas {
        padding: 0.5rem !important;
    }
}


/* FIN VISTA MOVIL VERTICAL*/


/* VISTA MOVIL HORIZONTAL*/

@media screen and (min-width: 600px) and (max-width: 767px) {}


/* FIN VISTA MOVIL HORIZONTAL*/


/* VISTA IPAD/TABLET VERTICAL*/

@media screen and (min-width: 768px) and (max-width: 999px) {}


/* FIN VISTA IPAD/TABLET VERTICAL*/


/* VISTA IPAD/TABLETS HORIZONTAL */

@media screen and (min-width: 1000px) and (max-width: 3500px) {}