.h-100vh {
    height: 100vh
}

.text-strong-wine {
    color: #501525
}

.b-0 {
    bottom: 5%;
}

.logo {
    width: 20%
}

.t-404 {
    font-size: 13rem
}

.t-sorry {
    font-size: 2rem
}

@media screen and (min-width: 0px) and (max-width: 767px) {


    .logo {
        width: 30%
    }

    .t-404 {
        font-size: 7rem
    }

    .t-sorry {
        font-size: 1.2rem
    }

}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    // .logo {
    //     width: 40%
    // }

    .t-404 {
        font-size: 9rem
    }

    .t-sorry {
        font-size: 2rem
    }
}

@media screen and (min-height: 0px) and (max-height: 700px) and (min-width:450px) {
    .logo {
        display: none
    }

    // .t-404 {
    //     font-size: 15rem
    // }

    // .t-sorry {
    //     font-size: 3rem
    // }

}